.root {
  background: none !important;
}
.App {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  min-height: 100vh;
  height: auto;
  background: #f7f7f7;
  padding: 20px;
}

h1 {
  text-align: center;
}

.card {
  height: 500px;
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid #007bff;
}

.card h3 {
  padding: 0 20px;
}

.card-title {
  background: #007bff;
  color: #ffee06;
  padding: 15px 0;
  text-shadow: 0 0 8px #0f4988, 0 0 10px #08085a;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body .info {
  height: 100%;
  padding: 15px 0;
  font-size: 15px;
  text-align: left;
}
.card-text {
  margin-bottom: 2px;
}
.btn-link {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .page_nav button {
    width: 20% !important;
    padding: 6px 6px;
  }
}

input[type="search"] {
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 20px;
  margin-left: 6.3vw;
  font-size: 17px;
  width: 35vw;
  border-radius: 10px;
}
